{% extends "emails/templates/base.twig" %}
{% if accepted %}
    {% block title %} [VISA] Your instance has been granted an extended lifetime {% endblock %}
{% else %}
    {% block title %} [VISA] Your instance has been refused an extended lifetime {% endblock %}
{% endif %}
{% block content %}
    <p>Hi {{ user.firstName }},</p>
    {% if accepted %}
        <p>
            We are happy to inform you that the <a href="{{  rootURL }}" style="color:#3777b0;text-decoration:none;">VISA</a>
            compute instance <b>{{ instance.name }}</b> has been granted an extension of its lifetime and is now scheduled to be deleted at <b>{{ instance.terminationDate | date("dd MMMM yyyy 'at' HH:mm z")}}</b>.
        </p>
        <p>Please keep in mind that if the instance does not have any active connections for {{ maxInactivityDurationDays }} days it will be automatically deleted.</p>

    {% else %}
        <p>
            We are sorry to inform you that your request to extend the lifetime of the <a href="{{  rootURL }}" style="color:#3777b0;text-decoration:none;">VISA</a>
            compute instance <b>{{ instance.name }}</b> has been refused and will be deleted at <b>{{ instance.terminationDate | date("dd MMMM yyyy 'at' HH:mm z")}}</b>.
        </p>
        <p>
            Please remember that you can still create another compute instance and continue performing data analysis using the VISA platform.
        </p>
    {% endif %}

    {% if handlerComments %}
        <p>
            The VISA Team have provided the following message:
        </p>
        <div style="border: solid 1px #ddd; padding: 0 12px; background-color: #fafafa;">
            <p style="font-weight: 400;">
                {{ handlerComments | raw }}
            </p>
        </div>

    {% endif %}
    {% if accepted %}
        <p>
            You can access your instance at this address: <a style="color:#3777b0;text-decoration:none;"
                                         href="{{ rootURL }}/instances/{{ instance.uid }}">{{ rootURL }}/instances/{{ instance.uid }}</a>

        </p>
    {% endif %}
    {% if adminEmailAddress %}
        <p>
            Please do not hesitate to send an email to <a href="mailto:{{ adminEmailAddress }}" style="color:#3777b0;text-decoration:none;">{{ adminEmailAddress }}</a> if you have any questions.
        </p>
    {%  endif %}
    <p>Thank you for using VISA.</p>
{% endblock %}
